/*General*/
html{
	font-size: 14px;
}
body{
	background-color: rgba(0, 0, 0, 0.03);
}
.fill{
	width: 100% !important;
}
p.header{
	font-size: 36px;
}
.navbar{
	background-color: gainsboro;
}
.message{
	display: none;
}
.confirm-button{
	width: 46%;
	margin-left: 2%;
}

/*Table*/
table.display{
	border: 0;
}
table.display th{
	border-top: 0;
}
table.display tbody tr:hover{
	background-color: rgba(150,150,150,0.8);
}
table.display tbody tr.selected{
	background-color: rgba(100,100,100,0.8);
}
#datatable{
	width: 100% !important;
}
#datatable tbody tr td{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 8px;
	padding-left: 4px;
}
#datatable_filter{
	display: none;
}
div.dataTables_scrollBody{
	min-height: 55vh;
}
div.dataTables_scroll{
	border: 1px solid lightgray !important;
}
div#datatable_wrapper{
	padding-left: 0px;
}
tfoot tr th{
	border: none !important;
}

/*Form*/
form label{
	padding-top: 10px;
}

/*Modal*/
@media screen and (min-width: 800px){
    .modal-dialog{
     	max-width: 60%;
    }
}

/* Expired modal */
#expired-password-modal{
	z-index: 9999999999;
}
#expired-password-modal .modal-backdrop
{
    opacity:0.8 !important;
}