/*General*/
html{
	font-size: 14px;
}
.fill{
	width: 100% !important;
}
p.header{
	font-size: 36px;
}
.navbar{
	background-color: gainsboro;
}
.message{
	display: none;
}
.confirm-button{
	width: 46%;
	margin-left: 2%;
}

/*Table*/
table.display{
	border: 0;
}
table.display th{
	border-top: 0;
}
table.display tbody tr:hover{
	background-color: rgba(150,150,150,0.8);
}
table.display tbody tr.selected{
	background-color: rgba(100,100,100,0.8);
}
#datatable{
	width: 100% !important;
}
#datatable tbody tr td{
	padding-top: 2px;
	padding-bottom: 2px;
}

/*Form*/
form label{
	padding-top: 10px;
}

/*Modal*/
@media screen and (min-width: 800px){
    .modal-dialog{
     	max-width: 60%;
    }
}

/* Expired modal */
#expired-password-modal{
	z-index: 9999999999;
}
#expired-password-modal .modal-backdrop
{
    opacity:0.8 !important;
}